@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,100;1,400;1,800&display=swap');
@import 'variaveis';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    font-size: $font-size-inputs;
}